@model WebApplication1.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      @Html.DisplayFor(x=>x.Name)
      @Html.DisplayFor(x=>x.LastName)
</div>
</body>
</html>